<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation System</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="panel">
        <h1>Reserve Your Seat</h1>

        <a href="{{ url_for('reserved') }}" class="btn" id="reserveSeat">Reserve a seat</a>
        <a href="{{ url_for('admin') }}" class="btn" id="loginAsAdmin">Login as Admin</a>
    </div>
</body>
</html>